

#ignore thumbnails created by windows
Thumbs.db
*.ini
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr

.vs/
packages/
bin/
obj/

!DirectShowLib-2005.dll
!Intel.Realsense.dll
!realsense2.dll
